@font-stack: Helvetica, sans-serif;
@primary-color: #999;
@max-x: 10;
@max-y: 10;

body {
  font: 10pt @font-stack;
  color: @primary-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#grid {
  width: 100%;
  height: 100%;
  background: grey;
}

.col-removed-space {
  height: 0;
  background-color: grey;
}

.col {
  background: grey;
  float: left;
  width: calc(100% / @max-x);
  height: 100%;
}

.block {
  width: 100%;
  height: calc(100% / @max-y);
  background: red;
  float: left;
  margin: 0;
  padding: 0;
  transition: all;
}

.active {
  -webkit-box-shadow: inset 0 0 10px #000000;
}
